#container {
  top: 50%;
  bottom: 50%;
  top: 650px;
  height: 72vh;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: auto;
  border: 2px solid black;
  padding: 25px;
}

#question-tile {
  background-color: white;
  padding: 0px;
  height: 20vh;
  border-radius: 10px;
  position: center;
  animation: fall 10s ease-in-out forwards;
  /* animation: fall 10s ease-in-out forwards infinite; */
  border:2px solid #888888;
  animation-play-state: running;
  text-align: center;
  justify-content: center;
}

#question-tile.hidden {
  display: none;
}

#question-tile.animate {
  animation: fall 10s;
  }

@keyframes fall {
  from {
    top: 100%;
    transform: translateY(0%);
    /* overflow:hidden; */
  }
  to {
    bottom: -50%;;
    transform: translateY(265%);
    /* visibility:hidden; */
  }
}

#answer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

#answer-buttons button {
  background-color: rgb(110, 227, 221);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#answer-buttons button.correct {
  background-color: green;
}

#answer-buttons button.incorrect {
  background-color: red;
}

#scoreboard {
  margin-top: 20px;
}
